spring.application.name=sgpiv

#http://localhost:8080/h2-console <-- link bd

#--- H2 (desarrollo) ----
# Esto es clave: evita que H2 cierre la BD antes de que la uses-----------
spring.datasource.url=jdbc:h2:mem:sgpiv;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
spring.h2.console.enabled=true
spring.h2.console.path=/h2-console
#------------------------------------------------------------------------#
spring.datasource.driver-class-name=org.h2.Driver
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=create-drop


#--- MySQL(descomentar cuando se implemente
#spring.datasource.url=jdbc:mysql://localhost:3306/sgpiv
#spring.datasource.username="REEMPLAZAR"
#spring.datasource.password="REEMPLAZAR"
#spring.jpa.hibernate.ddl-auto=update
#spring.jpa.show-sql=true
#spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect

server.port=8080
