*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f6f9;
    display:flex;
}

/* MAIN */

.main-content{
    margin-left:250px;
    width:100%;
    padding:35px;
}

/* HEADER */

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.header h1{
    font-size:32px;
    color:#0f172a;
    margin-bottom:8px;
}

.header p{
    color:#64748b;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 4px 12px rgba(0,0,0,0.06);
}

.card h3{
    color:#64748b;
    margin-bottom:10px;
    font-size:16px;
}

.card h2{
    font-size:34px;
    color:#0f172a;
}

/* TABLA */

.table-container{
    background:white;
    border-radius:18px;
    padding:25px;
    box-shadow:0 4px 12px rgba(0,0,0,0.06);
}

/* TOP TABLA */

.table-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.table-top h3{
    color:#0f172a;
}

/* SEARCH */

.search-form{
    display:flex;
    gap:12px;
}

.search-form input{
    width:260px;
    padding:12px 14px;
    border:none;
    border-radius:12px;
    background:#f1f5f9;
    outline:none;
    font-size:14px;
}

.search-form input:focus{
    border:2px solid #2563eb;
}

/* TABLA */

table{
    width:100%;
    border-collapse:collapse;
}

th{
    text-align:left;
    padding:15px;
    color:#64748b;
    font-size:14px;
    border-bottom:2px solid #e2e8f0;
}

td{
    padding:18px 15px;
    border-bottom:1px solid #e2e8f0;
    color:#0f172a;
}

tr:hover{
    background:#f8fafc;
}

/* ESTADOS */

.estado{
    padding:7px 14px;
    border-radius:20px;
    color:white;
    font-size:13px;
    font-weight:bold;
}

.interesada{
    background:#3b82f6;
}

.radicada{
    background:#10b981;
}

.adjudicada{
    background:#f59e0b;
}

.baja{
    background:#ef4444;
}