<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Empresas Registradas</title>

    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/empresas.css}">

    <!-- Aca vinculé el diseño de los botones -->
    <link rel="stylesheet" th:href="@{/css/components/buttons.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<!-- SIDEBAR -->

<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- CONTENIDO -->

<div class="main-content">

    <!-- HEADER -->

    <div class="header">

        <div>
            <h1>Empresas registradas</h1>

            <p>
                Gestioná y consultá las empresas registradas dentro del Parque Industrial.
            </p>
        </div>

    </div>

    <!-- CARDS -->

    <div class="cards">

        <div class="card">

            <h3>Total empresas</h3>

            <h2 th:text="${totalEmpresas}"></h2>

        </div>

        <div class="card">

            <h3>Interesadas</h3>

            <h2 th:text="${interesadas}"></h2>

        </div>

        <div class="card">

            <h3>Radicadas</h3>

            <h2 th:text="${radicadas}"></h2>

        </div>

        <div class="card">

            <h3>Adjudicadas</h3>

            <h2 th:text="${adjudicadas}"></h2>

        </div>

    </div>

    <!-- TABLA -->

    <div class="table-container">

        <!-- TOP BAR -->

        <div class="table-top">

            <h3>Lista de empresas</h3>

            <div class="search-box">

                <form
                        id="searchForm"
                        th:action="@{/empresas}"
                        method="get"
                        class="search-form"
                >
                    <input
                            id="buscador"
                            type="text"
                            name="buscar"
                            placeholder="Buscar empresa..."
                            th:value="${buscar}"
                    >

                    <!--button type="submit" class="btn btn-searchButton">
                        Buscar
                    </button-->

                </form>

            </div>

        </div>

        <!-- TABLA -->

        <table>
            <thead>
            <tr>

                <th>ID</th>
                <th>Razón social</th>
                <th>CUIT</th>
                <th>Rubro</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acciones</th>

            </tr>
            </thead>
            <tbody id="tablaEmpresas">
            <tr th:each="empresa : ${empresas}">
                <td th:text="${empresa.id}"></td>
                <td th:text="${empresa.razonSocial}"></td>
                <td th:text="${empresa.cuit}"></td>
                <td th:text="${empresa.rubro}"></td>
                <td th:text="${empresa.email}"></td>
                <td>

                    <span
                            class="estado"
                            th:classappend="
                            ${empresa.estadoEmpresa == 'INTERESADA'} ? ' interesada' :
                            (${empresa.estadoEmpresa == 'RADICADA'} ? ' radicada' :
                            (${empresa.estadoEmpresa == 'ADJUDICADA'} ? ' adjudicada' : ' baja'))
                            "
                            th:text="${empresa.estadoEmpresa}">
                    </span>
                </td>

                <td>
                    <button class="btn btn-edit">
                        Editar
                    </button>

                    <button class="btn btn-delete">
                        Eliminar
                    </button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

    const buscador =
        document.getElementById("buscador");

    buscador.addEventListener("input", function() {

        let texto =
            this.value.toLowerCase().trim();

        let filas =
            document.querySelectorAll(
                "#tablaEmpresas tr"
            );

        filas.forEach(fila => {

            let razonSocial =
                fila.cells[1].innerText
                    .toLowerCase();

            if (razonSocial.startsWith(texto)) {
                fila.style.display = "";
            } else {
                fila.style.display = "none";
            }

        });

    });

</script>

</body>

</html>