<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home - Parque Industrial Viedma</title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">

    <!-- Aca vinculé el diseño de los botones -->
    <link rel="stylesheet" th:href="@{/css/components/buttons.css}">

</head>

<body>

<!-- SIDEBAR -->
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- CONTENIDO -->
<div class="main-content">

    <!-- HEADER -->
    <div class="header">
        <div>
            <h1 th:text="'Bienvenido, ' + ${usuario.nombre} + ' ' + ${usuario.apellido}"></h1>
            <p>Panel de usuario — Parque Industrial Viedma</p>
        </div>
    </div>

    <!-- INFO USUARIO -->
    <div class="cards">

        <div class="card">
            <h3>Nombre</h3>
            <h2 th:text="${usuario.nombre} + ' ' + ${usuario.apellido}"></h2>
        </div>

        <div class="card">
            <h3>CUIT</h3>
            <h2 th:text="${usuario.cuit}"></h2>
        </div>

        <div class="card">
            <h3>Email</h3>
            <h2 th:text="${usuario.email}"></h2>
        </div>

        <div class="card">
            <h3>Estado</h3>
            <h2 th:text="${usuario.activo} ? 'Activo' : 'Inactivo'"></h2>
        </div>

    </div>

<!--    <button class="btn btn-regMiEmpresa"-->
<!--            onclick="window.location.href='/empresas/registrarMiEmpresa'"-->
<!--            th:if="${usuario.roles[0].nombre.name() == 'ROL_REPRESENTANTE_EMPRESA'}">-->
<!--        Registrar mi empresa-->
<!--    </button>-->


</div>

</body>
</html>