<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión - Parque Industrial Viedma</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="container">

    <!-- PANEL IZQUIERDO -->
    <div class="left-panel">

        <div class="overlay"></div>

        <div class="left-content">

            <h1>Parque Industrial VIEDMA</h1>

            <p>
                El parque Industrial se encuentra sobre la Ruta Provincial Nº 1, camino a El Cóndor.

                Actualmente existen 52 empresas activas o en vías de iniciar sus actividades en el Parque Industrial.

                Dentro de las actividades que se desarrollan se destacan empresas constructoras, cementeras, secaderos y
                empaques de frutas secas, fábrica de aberturas, fábricas de amueblamientos, talleres mecánicos, galpones
                de almacenamiento y logística, fábrica de hielo, aserraderos y el principal frigorífico de carnes de la
                Patagonia.
            </p>

            <div class="companies">

                <span>FRIDEVI</span>
                <span>Daluar</span>
                <span>Cementos del Sur</span>
                <span>Sur Forestal</span>
                <span>Hupulus Viedma</span>
                <span>Allhue</span>

            </div>

        </div>

    </div>

    <!-- PANEL DERECHO -->
    <div class="right-panel">

        <div class="login-box">

<!--            <a href="#" class="back-link">← Dashboard</a>-->
            <!-- LOGO -->
            <img src="https://i.ibb.co/mC8BgNX4/logobien.png" alt="Logo Parque Industrial" class="logo">

            <h2>Iniciar sesión</h2>

            <p class="register-text">
                No tienes una cuenta?
                <a th:href="@{/registro}">Registrarse</a>
            </p>

            <!-- error del service — email no existe, contraseña incorrecta -->
            <p th:if="${error}" th:text="${error}" class="error-message"></p>

            <form th:action="@{/login}" th:object="${loginDTO}" method="post">

                <div class="input-group">

                    <input
                            type="email"
                            name="email"
                            th:field="*{email}"
                            placeholder="Email">

<!--                    &lt;!&ndash; boton X &ndash;&gt;-->
<!--                    <button type="button"-->
<!--                            class="clear-btn"-->
<!--                            onclick="limpiarEmail()">-->
<!--                        ×-->
<!--                    </button>-->
                    <!-- error de validación del campo email -->
                    <p th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"
                       class="error-message"></p>

                </div>

                <div class="input-group">

                    <input
                            type="password"
                            name="password"
                            th:field="*{contrasenia}"
                            placeholder="Contraseña">

                    <!-- error de validación del campo contraseña -->
                    <p th:if="${#fields.hasErrors('contrasenia')}"
                       th:errors="*{contrasenia}"
                       class="error-message"></p>

                </div>

                <button type="submit" class="login-btn">
                    Continuar
                </button>

            </form>

            <a href="#" class="forgot-password">
                ¿Has olvidado tu contraseña?
            </a>

        </div>

    </div>

</div>
<script>
    function limpiarEmail() {
        const input =
            document.getElementById("emailInput");

        input.value = "";
        input.dispatchEvent(new Event('input'));
        input.focus();
    }
</script>
</body>
</html>